.App {
    background: url('images/bg.svg');
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.App-header, .App-main {
    flex: 1 100%;
}

.App-header {
    background-color: #222;
    box-sizing: border-box;
    color: white;
    padding: 10px;

}

.App-main {
    text-align: center;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input {
    color: black;
}
